body {
    background-color: rgb(23, 24, 61);
}

.site-navbar {
    margin-bottom: 5vh;
}

.container-dark-mode .top-content {
    color: white;
}

.container-dark-mode .top-content hr {
    background-color: aliceblue;
}

.page-select {
    display: flex;
    gap: 24px;
}