<div class="container container-dark-mode">
    <div class="top-content">
        <h1>Bem Vindo(a) ao Meu Website!</h1>
        <h2>Páginas:</h2>
    </div>

    <br>

    <div class="page-select">
        <a href="/perguntar" class="btn btn-primary">Faça uma Pergunta</a>
        <a href="/perguntas" class="btn btn-primary">Perguntas</a>
    </div>
</div>